/* Garden css */
@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}   
body {
    font-family: 'KOTRAHOPE';
    padding: 0;
    margin: 0;
    background-image: url('../IMG/cloud.png');
    background-size:cover;
}
.parent {
    font-family: 'KOTRAHOPE';
    text-align: center;
    position: relative;
}
.child{
    position: absolute; 
    left: 50%; 
    top: 50%; 
    transform: translate(-10%, 10%)
}
