@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}   
div {
    font-family: 'KOTRAHOPE';
    text-align: center;
}
table {
    margin-left: auto;
    margin-right: auto;
}
input[id*='user'] {
    margin: 5px;
    width: 150px;
    height: 10px;
    border: 0;
    font-size: 13px;
    background-color: rgb(236, 236, 236);
    border-radius: 30px;
    padding: 7px;
}
input[id*='user']:focus{
    outline: none;
}
input[id*='btn'] {
    font-family:'KOTRAHOPE';
    margin: 10px;
    width: 70px;
    height: 25px;
    border: 0;
    font-size: 13px;
    color: white;
    padding: 5px;
    border-radius: 15px;
    background-color: rgb(245, 157, 172);
}
